<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <title>Home | Credent Asset Management</title>

    <!-- Useful meta tags -->
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="index, follow, noodp" />
    <meta name="googlebot" content="index, follow" />
    <meta name="google" content="notranslate" />
    <meta name="format-detection" content="telephone=no" />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      href="assets/img/favicon/favicon-16x16.ico"
      sizes="16x16"
    />

    <!-- Style -->
    <style>
      .img-12 {
        background-image: url("assets/img/placeholder/522x118.jpg");
      }

      .img-13 {
        background-image: url("assets/img/placeholder/522x118.jpg");
      }

      .img-14 {
        background-image: url("assets/img/placeholder/522x118.jpg");
      }

      .site-header .logo img {
        max-width: 3.789rem; /* 72px */
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css"
      integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="assets/css/chart.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/custom.css" />

    <link
      rel="stylesheet"
      media="only screen and (max-width:678px)"
      href="assets/css/custom-mobile.css"
    />
  </head>
  <body class="home menu-scroll">
    <!-- <div class="loading">
      <div class="wrapper h-100">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="loading-content">
            <div class="logo logo-primary">
              <img
                class="animated zoomin"
                src="assets/img/logo/logo.jpg"
                alt="Site Logo"
              />
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- .loading -->

    <div id="site" class="site">
      <section class="tg-nav">
        <nav class="wrapper">
          <!-- <h1 class="tg-site-logo">TG Himanshu</h1> -->
          <img
            src="assets/img/logo/logo.jpg"
            alt="Site Logo"
            class="tg-nav-img"
          />
          <div class="hamburger"><i class="fas fa-bars"> </i></div>
          <div class="menu">
            <ul class="">
              <li class="active">
                <a class="scroll" href="#main">HOME</a>
              </li>
              <li><a class="scroll" href="#about">ABOUT</a></li>
              <li><a class="scroll" href="#prices">products</a></li>
              <li><a class="scroll" href="#performance">performance</a></li>
              <li><a class="scroll" href="#our-team">our team</a></li>
            </ul>
          </div>
        </nav>
      </section>

      <div class="wrapper tg-main-site-start">
        <div class="d-flex flex-wrap">
          <main id="main" class="site-main">
            <section id="page-title" class="block">
              <div class="row gutter-width-md">
                <div
                  class="col-12 col-sm-7 col-md-7 col-lg-7 col-xl-7 align-self-center"
                >
                  <div class="title">
                    <h1 class="b">Invest your belief in Us</h1>
                  </div>

                  <div class="description spacer p-top-lg">
                    <p>
                      We at Credent Asset Management thrive to earn maximum
                      returns on your investment through ideal stock selection
                      and make your life easy by offering efficient services.
                    </p>
                  </div>

                  <div class="spacer p-top-lg no-space">
                    <a
                      title="Reach out to Us"
                      class="btn btn-link btn-before-line p-0 border-0 min-w-auto link-no-space scroll-to-id"
                      href="#contacts"
                      >Contact Us</a
                    >
                  </div>
                </div>

                <div class="col-12 col-md-5 mt-4 mt-md-0 d-sm-block">
                  <div class="img object-fit">
                    <div class="object-fit-cover">
                      <img
                        src="assets/img/header.jpg"
                        alt="Business consulting agency"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- #page-title -->
            <section id="about" class="block pt-5">
              <div class="title">
                <h2 class="p-0">About Us</h2>
              </div>
              <div class="row gutter-width-md py-5 about-info">
                <div
                  class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-second align-self-start tg-about-info-section"
                >
                  <div class="description">
                    <!-- <h4>About Us</h4> -->

                    <p>
                      Credent Asset Management seeks to create a diversified
                      portfolio for Investors in India and NRIs across the
                      Globe. As a fast-developing and vibrant economy, the
                      Indian Financial Markets offer exceptional opportunities
                      for businesses and individuals seeking to invest in a
                      high-growth market. With a presence in India and UK and a
                      diversified fiscal portfolio, Credent is well-placed to
                      offer sustainable returns to investors. We are a SEBI
                      certified Portfolio Management Services, also offering
                      Research Analyst Services and we believe in bringing more
                      value to investors by shifting the paradigm of Investing.
                    </p>
                    <ul>
                      <li>Focus on Value Creation & Growth</li>
                      <li>Use of Artificial Intelligence</li>
                      <li>Team of Expert Advisors</li>
                      <li>Raring to change the dynamics of Investing</li>
                    </ul>
                  </div>
                </div>

                <div
                  class="col-12 mt-4 mt-md-0 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-first"
                >
                  <div class="img object-fit">
                    <div class="object-fit-cover">
                      <img src="assets/img/bg/about.jpg" alt="Business" />
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- #about -->

            <section id="our-beliefs" class="block-2 pb-0">
              <div class="title">
                <h2>What We Believe</h2>
              </div>

              <div class="gutter-width-md with-pb-md tg-beliefs">
                <div class="our-beliefs-card">
                  <img
                    class="mb-3"
                    src="assets/icons/what_we_believe/gqs.png"
                  />
                  <h6>Good Quality Stocks</h6>
                </div>
                <div class="our-beliefs-card">
                  <img class="mb-3" src="assets/icons/what_we_believe/dp.png" />
                  <h6>Diversified Portfolio</h6>
                </div>
                <div class="our-beliefs-card">
                  <img
                    class="mb-3"
                    src="assets/icons/what_we_believe/rrb.png"
                  />
                  <h6>Risk-Reward balance</h6>
                </div>
                <div class="our-beliefs-card">
                  <img
                    class="mb-3"
                    src="assets/icons/what_we_believe/dda.png"
                  />
                  <h6>Data-driven approach</h6>
                </div>
                <div class="our-beliefs-card">
                  <img class="mb-3" src="assets/icons/what_we_believe/ai.png" />
                  <h6>Artificial Intelligence</h6>
                </div>
              </div>
            </section>

            <section id="prices" class="block-2 pt-5">
              <div class="title">
                <h2>Our Offerings</h2>
              </div>

              <div class="row gutter-width-md with-pb-md plans-items">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                  <div class="card plans-item">
                    <div class="card-header">
                      <h4>Porfolio Management Services</h4>
                      <!-- <p>This is basic plan</p> -->
                      <div class="img object-fit">
                        <div class="object-fit-cover">
                          <img src="assets/img/offerings/pms.jpeg" alt="" />
                        </div>
                      </div>
                    </div>

                    <div class="card-body">
                      <h4 class="text-center">Benefits</h4>
                      <ul class="list-group">
                        <li class="list-group-item d-flex align-items-center">
                          <i class="text-primary fas fa-check i-small mr-2"></i>
                          Stock Selection & complete portfolio management
                        </li>

                        <li class="list-group-item d-flex align-items-center">
                          <i class="text-primary fas fa-check i-small mr-2"></i>
                          Quarterly performance reports would be sent to the
                          client
                        </li>

                        <li class="list-group-item d-flex align-items-center">
                          <i class="text-primary fas fa-check i-small mr-2"></i>
                          Monthly Con-call with the Research team for Insights &
                          discussions
                        </li>

                        <li class="list-group-item d-flex align-items-center">
                          <i class="text-primary fas fa-check i-small mr-2"></i>
                          Quarterly Research Reports on the stocks in the
                          portfolio
                        </li>

                        <li class="list-group-item d-flex align-items-center">
                          <i class="text-primary fas fa-check i-small mr-2"></i>
                          Minimum Investment Amount – Rs. 50 lacs
                        </li>

                        <li class="list-group-item d-flex align-items-center">
                          <i class="text-primary fas fa-check i-small mr-2"></i>
                          Most suitable for – NRI & Domestic HNI Investors,
                          Retail Investors with large investable surplus and
                          Institutions
                        </li>
                      </ul>
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#plans-modal-pms"
                        data-whatever="Basic plan"
                        class="btn btn-link bnt-line p-0 border-0 min-w-auto scroll-to-id before pt-4"
                        >Get In Touch</a
                      >
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                  <div class="card plans-item">
                    <div class="card-header">
                      <h4>Research Analyst Services</h4>
                      <!-- <p>This is basic plan</p> -->
                      <div class="img object-fit">
                        <div class="object-fit-cover">
                          <img src="assets/img/offerings/ras.jpeg" alt="" />
                        </div>
                      </div>
                    </div>

                    <div class="card-body">
                      <h4 class="text-center">Benefits</h4>
                      <ul class="list-group">
                        <li class="list-group-item d-flex align-items-center">
                          <i class="text-primary fas fa-check i-small mr-2"></i>
                          Model Portfolio Services – Stock Selection provided by
                          Credent Asset Management
                        </li>

                        <li class="list-group-item d-flex align-items-center">
                          <i class="text-primary fas fa-check i-small mr-2"></i>
                          Quarterly review & rebalance
                        </li>

                        <li class="list-group-item d-flex align-items-center">
                          <i class="text-primary fas fa-check i-small mr-2"></i>
                          Monthly factsheet & Performance
                        </li>

                        <li class="list-group-item d-flex align-items-center">
                          <i class="text-primary fas fa-check i-small mr-2"></i>
                          A Financial Analysis report on any stock in the entire
                          universe listed on Indian Stock Exchanges as requested
                          by the client
                        </li>

                        <li class="list-group-item d-flex align-items-center">
                          <i class="text-primary fas fa-check i-small mr-2"></i>
                          Unlimited existing portfolio checks & review (if any)
                        </li>

                        <li class="list-group-item d-flex align-items-center">
                          <i class="text-primary fas fa-check i-small mr-2"></i>
                          A Monthly Con-call with the Research team for Insights
                          & Discussions
                        </li>

                        <li class="list-group-item d-flex align-items-center">
                          <i class="text-primary fas fa-check i-small mr-2"></i>
                          Minimum Investment Amount would depend on the investor
                          (Rs. 5 lacs lump sum or a monthly SIP of Rs. 25,000 is
                          advisable in order to generate desirable returns)
                        </li>

                        <li class="list-group-item d-flex align-items-center">
                          <i class="text-primary fas fa-check i-small mr-2"></i>
                          Most suitable for – NRI & Domestic Retail investors
                        </li>
                      </ul>
                      <a
                        href="#contact"
                        data-toggle="modal"
                        data-target="#plans-modal-raf"
                        data-whatever="Basic plan"
                        class="btn btn-link bnt-line p-0 border-0 min-w-auto scroll-to-id before pt-4"
                        >Get In Touch</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- #prices -->

            <!-- 
            <section id="newsletter" class="block-2 py-5 bg-primary">
              <div
                class="d-flex flex-column flex-xl-row justify-content-between align-items-center"
              >
                <div class="d-flex flex-column">
                  <div class="title pb-1">
                    <h2>Portfolio Check</h2>
                  </div>
                  <div class="description">
                    <p>
                      Get your existing portfolio reviewed for Financial,
                      Valuation and Technical aspects basis Credent Strategy and
                      receive our recommendations for absolutely no cost at all.
                    </p>
                  </div>
                </div>

                <form method="post" action="form.php" class="newsletter-form">
                  <div class="input-group">
                    <input
                      class="form-control"
                      type="file"
                      placeholder="Enter your email"
                    />

                    <div class="input-group-append">
                      <button
                        type="submit"
                        class="btn btn-link border-0 p-0 min-w-auto transform-scale-h"
                      >
                        Upload
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </section> -->
            <!-- #newsletter -->

            <section id="performance" class="block pt-5">
              <div class="title">
                <h2>Performance</h2>
              </div>
              <div class="description min-w-100 mb-3">
                <p>
                  CAMS portfolio has given a 5-year 20% CAGR return as compared
                  to its benchmark – S&P BSE 500 giving only a CAGR of 6.5%. We
                  have been successful at beating the benchmark over the
                  long-term & at times also over the short-term.
                </p>
              </div>
              <div class="row gutter-width-md p-top-xl about-info">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-second">
                  <canvas id="leftCanvas"></canvas>
                </div>
                <div
                  class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-second d-flex flex-column justify-content-center col-first"
                >
                  <h4>Scenario 1</h4>
                  <p>
                    If you had invested a sum of Rs. 5 lacs at CAMS in 2015, it
                    would have grown to Rs. 12,60,000 after 5 years against
                    investment in BSE-500 yielding only Rs. 6,85,000
                  </p>
                </div>
              </div>

              <div class="row gutter-width-md p-top-xl about-info">
                <div
                  class="col-sm-6 col-md-6 col-lg-6 col-xl-6 d-flex flex-column justify-content-center mt-4 mt-md-0 order-2 order-md-1"
                >
                  <h4>Senario 2</h4>
                  <p>
                    If you had invested a sum of Rs. 50 lacs at CAMS in 2015, it
                    would have grown to Rs. 1,26,00,000 after 5 years against
                    investment in BSE-500 yielding only Rs. 68,50,000
                  </p>
                  <div>
                    <a
                      href="/downloadfs"
                      class="btn btn-link bnt-line p-0 border-0 min-w-auto scroll-to-id before pt-4"
                      >Download FactSheet</a
                    >
                  </div>
                </div>
                <div
                  class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-first order-1 order-md-2"
                >
                  <canvas id="rightCanvas"></canvas>
                </div>
              </div>
            </section>
            <!-- #feedbacks -->

            <!-- our team -->
            <section id="our-team" class="block pt-5">
              <div class="title">
                <h2>Meet our team</h2>
              </div>

              <div class="row gutter-width-md with-pb-md team-items">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                  <div
                    class="team-item"
                    data-toggle="modal"
                    data-target="#plans-modal-aditya"
                    data-whatever="Basic plan"
                  >
                    <div class="img object-fit">
                      <div class="object-fit-cover">
                        <img
                          src="assets/img/management/aditya.jpg"
                          alt="Mr. Aditya Kanoria"
                        />
                      </div>
                    </div>

                    <div class="team-hide-content">
                      <div class="team-hide-content-sec">
                        <h5 class="page-title">Mr. Aditya Kanoria</h5>
                        <p>CEO at company</p>

                        <nav>
                          <ul class="nav">
                            <li class="nav-item">
                              <a
                                class="transform-scale-h"
                                href="https://www.linkedin.com/in/aditya-vikram-kanoria-9b91789/"
                                target="_blank"
                                ><i class="fab fa-linkedin-in"></i
                              ></a>
                            </li>

                            <li class="nav-item">
                              <a
                                class="transform-scale-h"
                                href="https://www.facebook.com/avkanoria"
                                target="_blank"
                                ><i class="fab fa-facebook-f"></i
                              ></a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                  <div
                    class="team-item"
                    data-toggle="modal"
                    data-target="#plans-modal-mandeep"
                    data-whatever="Basic plan"
                  >
                    <div class="img object-fit">
                      <div class="object-fit-cover">
                        <img
                          src="assets/img/management/mandeep.png"
                          alt="Mr. Mandeep Singh"
                        />
                      </div>
                    </div>

                    <div class="team-hide-content">
                      <div class="team-hide-content-sec">
                        <h5 class="page-title">Mr. Mandeep Singh</h5>
                        <p>Founder & Executive Director</p>

                        <nav>
                          <ul class="nav">
                            <li class="nav-item">
                              <a
                                class="transform-scale-h"
                                href="https://www.linkedin.com/in/mandeep-singh-9a4b5116/"
                                target="_blank"
                                ><i class="fab fa-linkedin-in"></i
                              ></a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                  <div
                    class="team-item"
                    data-toggle="modal"
                    data-target="#plans-modal-nakshita"
                    data-whatever="Basic plan"
                  >
                    <div class="img object-fit">
                      <div class="object-fit-cover">
                        <img
                          src="assets/img/management/nakshita.jpeg"
                          alt="Ms. Nakshita Mehta"
                        />
                      </div>
                    </div>

                    <div class="team-hide-content">
                      <div class="team-hide-content-sec">
                        <h5 class="page-title">Ms. Nakshita Mehta</h5>
                        <p>Research & Strategy</p>

                        <nav>
                          <ul class="nav">
                            <li class="nav-item">
                              <a
                                class="transform-scale-h"
                                href="https://www.linkedin.com/in/nakshita-mehta/"
                                target="_blank"
                                ><i class="fab fa-linkedin-in"></i
                              ></a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- #our-team -->

            <section id="blog" class="block pt-5">
              <div class="title">
                <h2>Blogs & Media</h2>
              </div>
              <div
                class="row recent-posts owl-carousel gutter-width-md with-pb-md"
              >
                <div class="col">
                  <div class="card card-post">
                    <div class="card-top position-relative">
                      <a
                        target="_blank"
                        title="Why the stock market gave a ‘Thumbs down’ to Budget?"
                        href="https://credentglobal.com/covid-19-a-real-life-stress-test-for-your-business/"
                      >
                        <div class="img object-fit overflow-hidden">
                          <div class="object-fit-cover transform-scale-h">
                            <img
                              class="card-top-img"
                              src="assets/img/blogs/finance.jpg"
                              alt="Why the stock market gave a ‘Thumbs down’ to Budget?"
                            />
                          </div>
                        </div>
                      </a>

                      <div class="card-category">
                        <a
                          title="Business"
                          class="btn btn-sm regular transform-scale-h border-0"
                          href="blog.html"
                          >Business</a
                        >
                      </div>
                    </div>

                    <div class="card-body">
                      <h4 class="card-title">
                        <a
                          target="_blank"
                          title="Covid-19: A real-life stress test for your business"
                          href="https://credentglobal.com/covid-19-a-real-life-stress-test-for-your-business"
                          >Covid-19: A real-life stress test for your
                          business</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card card-post">
                    <div class="card-top position-relative">
                      <a
                        target="_blank"
                        title="Is this the time to Buy or Sell?"
                        href="https://credentglobal.com/is-this-the-time-to-buy-or-sell/"
                      >
                        <div class="img object-fit overflow-hidden">
                          <div class="object-fit-cover transform-scale-h">
                            <img
                              class="card-top-img"
                              src="assets/img/blogs/trade.jpg"
                              alt="Is this the time to Buy or Sell?"
                            />
                          </div>
                        </div>
                      </a>

                      <div class="card-category">
                        <a
                          title="Business"
                          class="btn btn-sm regular transform-scale-h border-0"
                          href="blog.html"
                          >Business</a
                        >
                      </div>
                    </div>

                    <div class="card-body">
                      <h4 class="card-title">
                        <a
                          target="_blank"
                          title="Is this the time to Buy or Sell?"
                          href="https://credentglobal.com/is-this-the-time-to-buy-or-sell/"
                          >Is this the time to Buy or Sell?</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card card-post">
                    <div class="card-top position-relative">
                      <a
                        target="_blank"
                        title="Why the stock market gave a ‘Thumbs down’ to Budget?"
                        href="https://credentglobal.com/why-the-stock-market-gave-a-thumbs-down-to-budget/"
                      >
                        <div class="img object-fit overflow-hidden">
                          <div class="object-fit-cover transform-scale-h">
                            <img
                              class="card-top-img"
                              src="assets/img/blogs/budget.jpg"
                              alt="Why the stock market gave a ‘Thumbs down’ to Budget?"
                            />
                          </div>
                        </div>
                      </a>

                      <div class="card-category">
                        <a
                          title="Business"
                          class="btn btn-sm regular transform-scale-h border-0"
                          href="blog.html"
                          >Business</a
                        >
                      </div>
                    </div>

                    <div class="card-body">
                      <h4 class="card-title">
                        <a
                          target="_blank"
                          title="Why the stock market gave a ‘Thumbs down’ to Budget?"
                          href="https://credentglobal.com/why-the-stock-market-gave-a-thumbs-down-to-budget/"
                          >Why the stock market gave a ‘Thumbs down’ to
                          Budget?</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card card-post">
                    <div class="card-top position-relative">
                      <a
                        target="_blank"
                        title="Why the stock market gave a ‘Thumbs down’ to Budget?"
                        href="https://credentglobal.com/why-the-stock-market-gave-a-thumbs-down-to-budget/"
                      >
                        <div class="img object-fit overflow-hidden">
                          <div class="object-fit-cover transform-scale-h">
                            <img
                              class="card-top-img"
                              src="assets/img/blogs/budget.jpg"
                              alt="Why the stock market gave a ‘Thumbs down’ to Budget?"
                            />
                          </div>
                        </div>
                      </a>

                      <div class="card-category">
                        <a
                          title="Business"
                          class="btn btn-sm regular transform-scale-h border-0"
                          href="blog.html"
                          >Business</a
                        >
                      </div>
                    </div>

                    <div class="card-body">
                      <h4 class="card-title">
                        <a
                          target="_blank"
                          title="Why the stock market gave a ‘Thumbs down’ to Budget?"
                          href="https://credentglobal.com/why-the-stock-market-gave-a-thumbs-down-to-budget/"
                          >Why the stock market gave a ‘Thumbs down’ to
                          Budget?</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- #blog -->

            <section id="contacts" class="block pt-5">
              <div class="align-self-center">
                <div class="title">
                  <h2>Get In Touch</h2>
                </div>
                <div class="description">
                  <p>
                    Reach out to us with all of your Investment Related queries.
                  </p>
                </div>

                <div class="spacer m-top-md">
                  <form class="contact-form" action="/contact" method="POST">
                    <input
                      type="text"
                      class="form-control mb-3"
                      placeholder="Name *"
                      name="contact-name"
                    />

                    <input
                      type="text"
                      class="form-control mb-3"
                      placeholder="Email Address *"
                      name="contact-email"
                    />

                    <input
                      type="text"
                      class="form-control mb-3"
                      placeholder="Phone Number *"
                      name="contact-phone"
                    />

                    <textarea
                      placeholder="Drop A Mesage"
                      class="form-control mb-3"
                      name="contact-message"
                    ></textarea>

                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>
                  </form>
                </div>
              </div>
            </section>
            <!-- #contacts -->
          </main>
          <!-- .site-main -->
        </div>
      </div>
      <!-- .wrapper -->
    </div>
    <!-- #site -->

    <footer id="footer" class="site-footer mt-4">
      <div class="wrapper">
        <div class="row">
          <div class="col-12 col-md-4">
            <h5 class="text-white">OUR OFFICE</h5>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15084.308606337656!2d72.8650022!3d19.0603452!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2418f2bae28970a6!2sCredent%20Asset%20Management%20Ltd.%20(Mumbai%20Office)!5e0!3m2!1sen!2sin!4v1617453140280!5m2!1sen!2sin"
              width="100%"
              height="auto"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
          <div class="col-12 col-md-4">
            <h5 class="text-white">REACH US</h5>
            <p class="mt-2">E-Mail: info@credentglobal.com</p>
            <p class="mt-2">Telephone: +91 70655 00007</p>
            <p class="mt-2">
              Address: One BKC, C Wing 6th Flr, Unit No. 609, Bandra Kurla
              Complex, Mumbai, Maharashtra 400051
            </p>
          </div>
          <div class="col-12 col-md-4 mt-4 mt-md-0">
            <h5 class="text-white">CONNECT WITH US</h5>
            <nav
              class="d-flex justify-content-start align-items-center tg-social-icons"
            >
              <a
                href="https://www.linkedin.com/company/credentglobal/mycompany/?viewAsMember=true"
              >
                <i class="fab fa-linkedin-in text-white mr-3"></i>
              </a>
              <a href="https://m.facebook.com/CredentGlobal/">
                <i class="fab fa-facebook-f text-white mr-3"></i>
              </a>
              <a href="https://www.instagram.com/Credentglobal/">
                <i class="fab fa-instagram text-white mr-3"></i>
              </a>
            </nav>
            <h6 class="text-white mt-3 mb-2">QUICK LINKS</h6>
            <div class="mt-1">
              <div>
                <a
                  class=""
                  href="#"
                  data-toggle="modal"
                  data-target="#disclaimer-modal"
                  >disclaimer</a
                >
              </div>
              <div class="mt-2">
                <a class="" href="http://www.credentglobal.com/"
                  >Credent Global</a
                >
              </div>
              <div class="mt-2">
                <a class="" href="http://www.credentinvestment.com/"
                  >Credent Investment</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper info">
        <div id="back-to-top">
          <a class="scroll-to-id" href="#site"><span>Up</span></a>
        </div>
        <!-- #back-to-top -->

        <div class="footer">
          <div
            class="d-flex flex-column flex-lg-row flex-xl-row justify-content-between"
          >
            <div class="align-self-center">
              <div class="logo logo-secondary">
                <!-- <img src="" alt="Logo" /> -->
                <h6 class="text-white">Credent Asset Management</h6>
              </div>
            </div>

            <div class="align-self-center">
              <div class="copyright">
                <p class="text-white">© 2021 Credent Asset Management</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- .site-footer -->

    <div id="modals">
      <div
        class="modal fade"
        id="disclaimer-modal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="plans-modal-aditya"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-full" role="document">
          <div class="wrapper">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span class="adveits-i adv-close">
                    <span></span>
                    <span></span>
                  </span>
                </button>
              </div>

              <div class="modal-body">
                <div class="modal-lg m-auto">
                  <div class="title spacer p-bottom-lg">
                    <h5 class="text-primary">disclaimer</h5>
                  </div>
                  <div>
                    <h5>About Us</h5>
                    <p>
                      Credent Asset Management Services Private Limited
                      (“Credent”) is a SEBI registered as a portfolio manager
                      under the SEBI (Portfolio Managers) Regulations, 1993 with
                      registration no. INP000006101 since August 16, 2018.
                    </p>
                    <p>
                      Under the SEBI (Research Analyst) Regulations, 2014,
                      Credent can provide reports as a research analyst without
                      obtaining a separate registration for the same. This
                      report is made purely in the capacity of a research
                      analyst and there is no conflict of interest between the
                      two roles.
                    </p>
                    <h5>Disclaimer</h5>
                    <p>
                      Credent is providing this report and recommendations based
                      on the analysis of information obtained from public
                      sources. All these sources are believed to be reliable,
                      however, no surety or guarantee is made for its accuracy
                      and/or completeness. The analysis in the report is the
                      personal opinion of the author(s) about the subjects
                      mentioned no part of the compensation of the author(s)
                      was, is, or will be directly or indirectly related to the
                      specific recommendations and views expressed by the
                      author(s)in this report.
                    </p>
                    <h5>Disclosures</h5>
                    <p>
                      None of the author(s) or Credent or any of their relatives
                      and employees have any financial
                      interest/actual/beneficial ownership of more than one per
                      cent or any other material conflict of interest with the
                      subject in this report at the time of publishing of this
                      report.
                    </p>
                    <p>
                      None of the associates of Credent or the author(s) of this
                      report are or shall deal or trade directly or indirectly
                      in securities contrary to the recommendations made in this
                      report.
                    </p>
                    <p>
                      Credent/author(s) does/do not have any holding in the
                      stocks discussed but these stocks may have been
                      recommended to clients in the past. Clients of Credent may
                      be holding aforesaid stocks.
                    </p>
                    <p>
                      Credent or its associates have not received any
                      compensation from the subject in this report for any
                      activities including investment banking or merchant
                      banking brokerage. Credent or its associates have not
                      co-managed public securities of the subject in this report
                      in the past twelve months.
                    </p>
                    <p>
                      Credent has in place internal policies and procedures for
                      addressing any potential conflict of interest that may
                      arise, promoting objective and reliable research that
                      reflects the unbiased view of research analyst, preventing
                      the use of research report or research analysis to
                      manipulate the securities market.
                    </p>
                    <p>
                      Credent or its associates have not served in any capacity
                      to the subject companies that are mentioned in the report.
                      They have not been involved in any market making activity
                      for the subject company in any manner.
                    </p>
                    <p>
                      Credent, the author(s), associates of Credent have no
                      material conflict of interest with regard to any subject
                      in this report.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #search-modal -->

      <div
        class="modal fade"
        id="plans-modal-aditya"
        tabindex="-1"
        role="dialog"
        aria-labelledby="plans-modal-aditya"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-full" role="document">
          <div class="wrapper">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span class="adveits-i adv-close">
                    <span></span>
                    <span></span>
                  </span>
                </button>
              </div>

              <div class="modal-body">
                <div class="modal-lg m-auto">
                  <div class="title spacer p-bottom-lg">
                    <h5 class="text-primary">Mr. Aditya Kanoria</h5>
                  </div>
                  <div class="text-center">
                    <img src="assets/img/management/aditya.jpg" alt="" />
                    <h3 class="pt-3">CEO of Company</h3>
                    <p>
                      Aditya Kanoria is an enterprising professional with an
                      experience of over a decade in financial services. His
                      expertise spans across the entire spectrum of financial
                      markets. Delivering significant profit across various
                      verticals he managed. He Hails from a business family and
                      comes with the necessary entrepreneurial flair to
                      establish, grow and sustain a new business. He has
                      successfully spearheaded various verticals in financial
                      services with companies like Motilal Oswal Financial
                      Services and Capital First in Senior Management positions.
                      He has orchestrated processes in establishing distribution
                      network, business and marketing strategy, brand and
                      product development, financial modelling new brands.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #team-modal-aditya -->

      <div
        class="modal fade"
        id="plans-modal-mandeep"
        tabindex="-1"
        role="dialog"
        aria-labelledby="plans-modal-mandeep"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-full" role="document">
          <div class="wrapper">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span class="adveits-i adv-close">
                    <span></span>
                    <span></span>
                  </span>
                </button>
              </div>

              <div class="modal-body">
                <div class="modal-lg m-auto">
                  <div class="title spacer p-bottom-lg">
                    <h5 class="text-primary">Mr. Mandeep Singh</h5>
                  </div>
                  <div class="text-center">
                    <img src="assets/img/management/mandeep.png" alt="" />
                    <h3 class="pt-3">Founder & Executive Director</h3>
                    <p>
                      Mandeep Singh is the Founder and Executive Director of
                      Credent Asset Management Limited. He comes with more than
                      a decade of experience in the financial services industry,
                      brings with him the experience of heading a product
                      distribution division of one of India’s largest financial
                      services. He has significant knowledge of the region &
                      relationships across the Investment community. He has
                      worked in several segments of financial services across
                      Stock Broking, Asset Management & Allocation for Private
                      Clients & Institutions. He holds hands on experience of
                      working into Indian as well as European markets. He holds
                      Certified Qualification for advising to Institutions,
                      Electives professional investors and Retail investors for
                      direct and pension investments under FCA (Financial
                      Conduct Authority UK)
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #team-modal-mandeep -->

      <div
        class="modal fade"
        id="plans-modal-nakshita"
        tabindex="-1"
        role="dialog"
        aria-labelledby="plans-modal-nakshita"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-full" role="document">
          <div class="wrapper">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span class="adveits-i adv-close">
                    <span></span>
                    <span></span>
                  </span>
                </button>
              </div>

              <div class="modal-body">
                <div class="modal-lg m-auto">
                  <div class="title spacer p-bottom-lg">
                    <h5 class="text-primary">Ms. Nakshita Mehta</h5>
                  </div>
                  <div class="text-center">
                    <img src="assets/img/management/nakshita.jpeg" alt="" />
                    <h3 class="pt-3">Research & Strategy</h3>
                    <p>
                      Ms. Nakshita Mehta is a young, thriving and qualified MBA
                      professional, also having pursued Financial Risk
                      Management from GARP Inc., USA. She has a demonstrated
                      work-experience in the field of research for Banks & FI.
                      Having worked with company like CRISIL Ltd., she has
                      enormous experience in this field. Being a NISM certified
                      Research Analyst, she presently handles the Research and
                      Strategy desk at Credent Asset Management.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #team-modal-nakshita -->

      <div
        class="modal fade"
        id="plans-modal-pms"
        tabindex="-1"
        role="dialog"
        aria-labelledby="plans-modal"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-full" role="document">
          <div class="wrapper">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span class="adveits-i adv-close">
                    <span></span>
                    <span></span>
                  </span>
                </button>
              </div>

              <div class="modal-body">
                <div class="modal-lg m-auto">
                  <div class="title spacer p-bottom-lg">
                    <h5 class="text-primary">Get In Touch</h5>
                  </div>

                  <form
                    action="/pms"
                    method="POST"
                    id="cf-2"
                    class="contact-form"
                  >
                    <div class="form-group form-label-effect">
                      <input
                        name="pms-name"
                        type="text"
                        class="form-lg form-label-effect-1"
                        id="pms-name"
                        required="required"
                      />
                      <label class="form-label-lg" for="cf-2-first-name"
                        >Name <span class="text-danger">*</span></label
                      >
                    </div>

                    <div class="form-group form-label-effect">
                      <input
                        name="pms-email"
                        type="email"
                        class="form-lg form-label-effect-1"
                        id="pms-email"
                        required="required"
                      />
                      <label class="form-label-lg" for="cf-2-email"
                        >Email <span class="text-danger">*</span></label
                      >
                    </div>

                    <div class="form-group form-label-effect">
                      <input
                        name="pms-company"
                        type="text"
                        class="form-lg form-label-effect-1"
                        id="pms-company"
                      />
                      <label class="form-label-lg" for="cf-2-company"
                        >Company
                      </label>
                    </div>

                    <div class="form-group form-label-effect">
                      <input
                        name="pms-phone-no"
                        type="text"
                        class="form-lg form-label-effect-1"
                        id="pms-phone-no"
                        required="required"
                      />
                      <label class="form-label-lg" for="cf-2-phone-no"
                        >Phone no. <span class="text-danger">*</span></label
                      >
                    </div>

                    <div class="form-group form-label-effect">
                      <textarea
                        name="pms-message"
                        class="form-lg form-label-effect-1"
                        id="pms-message"
                      ></textarea>
                      <label class="form-label-lg" for="cf-2-message"
                        >Message</label
                      >
                    </div>

                    <button
                      type="submit"
                      name="pms-submit"
                      class="btn btn-primary"
                    >
                      Submit
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #plans-modal-pms -->

      <div
        class="modal fade"
        id="plans-modal-raf"
        tabindex="-1"
        role="dialog"
        aria-labelledby="plans-modal"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-full" role="document">
          <div class="wrapper">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span class="adveits-i adv-close">
                    <span></span>
                    <span></span>
                  </span>
                </button>
              </div>

              <div class="modal-body">
                <div class="modal-lg m-auto">
                  <div class="title spacer p-bottom-lg">
                    <h5 class="text-primary">Get In Touch</h5>
                  </div>

                  <form
                    method="post"
                    action="/raf"
                    id="cf-2"
                    class="contact-form"
                  >
                    <div class="form-group form-label-effect">
                      <input
                        name="raf-name"
                        type="text"
                        class="form-lg form-label-effect-1"
                        id="raf-name"
                        required="required"
                      />
                      <label class="form-label-lg" for="cf-2-first-name"
                        >Name <span class="text-danger">*</span></label
                      >
                    </div>

                    <div class="form-group form-label-effect">
                      <input
                        name="raf-email"
                        type="email"
                        class="form-lg form-label-effect-1"
                        id="raf-email"
                        required="required"
                      />
                      <label class="form-label-lg" for="cf-2-email"
                        >Email <span class="text-danger">*</span></label
                      >
                    </div>

                    <div class="form-group form-label-effect">
                      <input
                        name="raf-company"
                        type="text"
                        class="form-lg form-label-effect-1"
                        id="raf-company"
                      />
                      <label class="form-label-lg" for="cf-2-company"
                        >Company</label
                      >
                    </div>

                    <div class="form-group form-label-effect">
                      <input
                        name="raf-phone-no"
                        type="text"
                        class="form-lg form-label-effect-1"
                        id="raf-phone-no"
                        required="required"
                      />
                      <label class="form-label-lg" for="cf-2-phone-no"
                        >Phone no. <span class="text-danger">*</span></label
                      >
                    </div>

                    <div class="form-group form-label-effect">
                      <textarea
                        name="raf-message"
                        class="form-lg form-label-effect-1"
                        id="raf-message"
                      ></textarea>
                      <label class="form-label-lg" for="cf-2-message"
                        >Message</label
                      >
                    </div>

                    <button
                      type="submit"
                      name="raf-submit"
                      class="btn btn-primary"
                    >
                      Submit
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #plans-modal-raf -->
    </div>
    <!-- #modals -->

    <!-- JS -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.1/chart.min.js"
      integrity="sha512-2uu1jrAmW1A+SMwih5DAPqzFS2PI+OPw79OVLS4NJ6jGHQ/GmIVDDlWwz4KLO8DnoUmYdU8hTtFcp8je6zxbCg=="
      crossorigin="anonymous"
    ></script>
    <script src="assets/js/chart.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
    ></script>
    <!-- <script src="assets/js/main.min.js"></script> -->
    <script src="assets/js/custom.js"></script>
    <script></script>
  </body>
</html>
